<h1>Welcome to Connectlist</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h2>Your Connections</h2>
          <div id="connections">
            <!-- Connections will be loaded here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
